*{
   padding: 0;
   margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 5px 200px;
    background-color: #1A1244;
    border-bottom: 2px solid  #401E63;
    font-size: 20px;
}
.logo{
    color: #fff;
    font-size: 20px;
    font-size: 30px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 5px 10px;
   
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 5px 10px;
    transition: 0.5s;
}
nav ul li a:hover{
    background-color: black;
    color: red;
    border-radius: 5px;
}
/* header prat start */
header{
    background-image:url(image-1/banner\ image.4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
}
.search-parent{
    display: flex;
    justify-content: center;
    padding-top: 250px;
}
.search-parent input{
    width: 500px;
    height: 20px;
    font-size: 15px;
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid rgb(83, 81,81);
}
.search-parent i{
    background-color: #fff;
    color: rgb(63, 61, 61);
    padding: 5px;
    margin: 0px -30px;
    font-size: 20px;
    border: 1px solid rgb(83, 81, 81);
    border-radius: 5px;
}
/* main part start */
main{
    background-color: #435dd3;
    padding-top: 20px;
}
.main-container{
    width: 1100px;
    height: 50px;
    margin: 0 auto;
    padding: 50px 0;
}
.video-parent{
    display: flex;
    justify-content: space-between;
}
.video-text{
    font-size: 25px;
    color: #fff;
}
.video-pages h4{
    color:white;
}
.video-pages span{
    background-color: #2d3436;
    color: yellowgreen;
    border: 1px solid black;
    padding: 5px 5px;
    margin: 0 5px;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}
.singel-items-parent{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.singel-items{
    height: 250px;

}
.singel-items img{
    width: 100%;
    height: 100%;
}