/* nav code start */
*{
    padding: 0;
    margin: 0;
 }
 nav{
     display: flex;
     justify-content: space-between;
     padding: 10px 200px;
     background-color: #1A1244;
     border-bottom: 4px solid  #401E63;
     font-size: 30px;
     position: sticky;
     top: 0;
 }
 .logo{
     color: #fff;
     font-size: 20px;
     font-size: 40px;
 }
 nav ul{
     display: flex;
 }
 nav ul li{
     list-style: none;
     margin: 5px 10px;
    
 }
 nav ul li a{
     text-decoration: none;
     color: #fff;
     font-size: 20px;
     padding: 5px 10px;
     transition: 0.5s;
 }
 nav ul li a:hover{
     background-color: black;
     color: red;
     border-radius: 5px;
 }
/* about section code start */
.about-parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 900px;
    margin-top: 70px;
    padding: 50px;
    box-shadow: 10px 10px 5px gray;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 100px;
}
.about-image{
    height: 400px;
}
.about-image img{
    height: 100%;
    width: 100%;
}
.about-text h2{
    font-size: 80px;
    color: blue;
    margin-bottom: 20px;
}
.about-text p{
    color: rgb(5, 5, 85);
    font-weight: bold;
}
.about-text a{
    text-decoration: none;
    background-color: #0e9ebe;
    color: #fff;
    font-size: 20px;
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 5px;
    display: inline-block;
    margin-top: 40px;
}