*{
    padding: 0;
    margin: 0;
}
/* nav code */
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    background-color: #1A1244;
    border-bottom: 4px solid  #401E63;
    font-size: 30px;
    position: sticky;
    top: 0;
}
.logo{
    color: #fff;
    font-size: 20px;
    font-size: 40px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 5px 10px;
   
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 5px 10px;
    transition: 0.5s;
}
nav ul li a:hover{
    background-color: black;
    color: red;
    border-radius: 5px;
}

/* article code start */
.article-container{
    width: 1100px;
    margin: 0 auto;
}
.article-title{
    display: flex;
    justify-content: center;
    color: green;
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
}
.article-title span{
    color: red;
}
.singel-blog-parents{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px;
    margin-bottom: 100px;
}
.blog-singel-image{
    height: 300px;
}
.blog-singel-image img{
    width: 100%;
    height: 100%;
}
.singel-blog{
    box-shadow: 5px 5px 10px gray;
            border-radius: 5px;
}
.blog-singel-text{
    padding: 20px 30px;

}
.blog-singel-text span{
    color: red;
}
.blog-singel-text h3{
    font-size: 22px;
     margin: 20px 0;
}
.blog-singel-text a{
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}