*{
    padding: 0;
    margin: 0;
}
/* nav code */
nav{
    display: flex;
    justify-content: space-between;
    padding: 5px 200px;
    background-color: #1A1244;
    border-bottom: 2px solid  #401E63;
    font-size: 20px;
    position: sticky;
    top: 0;
}
.logo{
    color: #fff;
    font-size: 20px;
    font-size: 30px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 5px 10px;
   
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 5px 10px;
    transition: 0.5s;
}
nav ul li a:hover{
    background-color: black;
    color: red;
    border-radius: 5px;
}
/* form code start */
form{
    width: 700px;
    margin: 80px auto;
    background-color: rgb(207, 110, 110);
    padding: 40px 0;
    border-radius: 5px;
    box-shadow: 10px 10px 10px gray;
}
form h2{
    text-align: center;
    margin-bottom: 20px;
    color: aliceblue;
}
.name-email-parent input{
    display: block;
    margin: 20px auto;
    padding: 5px 20px;
    width: 400px;
    height: 30px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
}
form textarea{
    display: block;
    margin:30px auto;
    width: 400px;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 15px;
    border: none;
}
.btn{
    display: block;
    margin: auto;
    font-size: 20px;
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    background: linear-gradient(to right, blue,blueviolet,aqua);
    color: #fff;
}
/* footer code start */
footer{
    background-color: #454d50;
    color: #fff;
 }
 #footer-container{
    width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    justify-content: space-between;
    grid-gap: 50px;
 }
.footer-first-items h3{
    padding: 30px 0;
    margin-top: 20px;
    font-size: 25px;
}
 .footer-second-items h3{
    padding: 30px 0;
    margin-top: 20px;
    font-size: 25px;
}
.footer-second-items a{
    text-decoration: none;
    color: #fff;
}
.footer-second-items p{
    margin-bottom: 10px;
}
.footer-third-items{
    padding: 30px 0;
    margin-top: 20px;
}
.footer-third-items a{
    text-decoration: none;
    font-size: 25px;
    margin-right: 10px;
    color: #c0b9b9;
    background-color: #1A1244;
    padding: 4px;
    border-radius: 5px;
}
.footer-third-items p{
    margin: 8px 0;
}
.footer-third-items p:nth-child(3){
    margin-bottom: 30px;
}
.copy{
    background-color: black;
    color: #fff;
    text-align: center;
}