*{
    padding: 0;
    margin: 0;
}
/* navbar code  */
nav{
    display: flex;
    justify-content: space-between;
    padding: 5px 200px;
    background-color: #1A1244;
    border-bottom: 2px solid  #401E63;
    font-size: 20px;
    position: sticky;
    top: 0;
}
.logo{
    color: #fff;
    font-size: 20px;
    font-size: 30px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 5px 10px;
   
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 5px 10px;
    transition: 0.5s;
}
nav ul li a:hover{
    background-color: black;
    color: red;
    border-radius: 5px;
}
/* main part code start */
main{
    background-color:  #405ad1;
    padding-top: 20px;
    padding-bottom: 50px;
}
.main-container{
    width: 1100px;
    margin: 0 auto;
    padding: 50px 0;
}
.video-parent{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.video-text{
    font-size: 25px;
    color: #fff;
}
.video-pages h4{
    color:white;
}
.video-pages span{
    background-color: #2d3436;
    color: yellowgreen;
    border: 1px solid black;
    padding: 5px 5px;
    margin: 0 5px;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}



.singel-items-parent{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 50px;
    grid-column-gap: 20px;
}
.singel-items{
    height: 250px;
    border: 3px solid rgb(100, 99, 99);
    border-radius: 3px;
}
.singel-items img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    cursor: pointer;
}
.singel-items img:hover{
    transform: scale(1.1);
    border-radius: 7px;
}
.singel-items div{
    display: flex;
    justify-content: space-between;
    color: rgb(179, 174, 174);
    margin-top: 10px;
    font-size: 15px;
}
/* previous next page code */
.previous-parents{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.previous-parents h3{
    color: #fff;
    background-color: #FD7272;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.previous-parents h3:hover{
    background-color: #ee5a5a;
}
.previous-parents a{
    text-decoration: none;
    color: black;
    background-color: antiquewhite;
    border: 1px solid black;
    padding: 2px 4px;
    margin: 0 5px;
    font-size: 20px;
    border-radius: 4px;
}
.previous-parents a:first-child{
    background-color:  #ee5a5a;
    color: antiquewhite;
}
.previous-parents i{
    margin: auto 4px;
    color: #543ccc;
    font-size: 25px;
}